<div class="row" ng-init="jobCtrl.joblist()">
	<div class="col m9" style="margin-bottom: 75px;">
		
		<div class="col s12" style="margin-top: 25px;">
			<a href="#!/user" class="breadcrumb">Home</a>
			<a href="#!/jobs/list" class="breadcrumb">Job List</a>
		</div>
		
		<div style="margin-top: 100px;">
			<div class="card hoverable" style="width: inherit;" ng-repeat="job in jobCtrl.joblist">
				<div class="card-content">
					<h5><span class="card-title activator"><a href="#!/job/{{job.id}}" style="color: rgba(0,0,0,0.87)">{{job.companyName}}</a></span></h5>
					<h6>{{job.subTitle}}</h6>
					<b>About The Company</b>
					<p>{{job.about}}</p>
					<a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="APPLY" ><i class="material-icons">add</i></a>
				</div>
				<hr>
				<div class="row">
					<div class="col m4">
						<b>JOB PROFILE:</b>
						<p>{{job.jobProfile}}</p>
					</div>
					<div class="col m4">
						<b>QUALIFICATION:</b>
						<p>{{job.qualification}}</p>
					</div>
					<div class="col m4">
						<b>CONTACT INFO:</b>
						<p>{{job.contactInfo}}</p>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
	
	<div class="col m3" style="margin-bottom: 75px;">
		
		<div ng-include="'app/shared/rightSide.html'"></div>
		
		<div style="margin: 25px auto 0 auto;" ng-if="user.role != 'User' ">
			<a href="#!/job/new" class="waves-effect waves-light btn-large"><i class="material-icons right">today</i>CREATE JOB</a>
		</div>
		
	</div>
	
</div>