<div class="row" ng-init="adminCtrl.approvedUserList()">

	<div style="margin-top: 25px; margin-left: 25px;">
		<h4 align="center">Manage All Users</h4>
	</div>
	
	<br/> <hr/>
	
	<div style="margin-left: 25px; margin-bottom: 250px;">
		<table class="highlight centered striped bordered responsive-table">
		
			<thead>
				<tr>
					<th data-field="userid">User Id</th>
					<th data-field="username">Username</th>
					<th data-field="firstname">First Name</th>
					<th data-field="lastname">Last Name</th>
					<th data-field="role">Current Role</th>
					<th data-field="changerole">Change Role</th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-hide= "users.role == 'Super_Admin'" ng-repeat="users in adminCtrl.approvedUserList">
					<td  width="10%">{{users.id}}</td>
					<td  width="10%">{{users.username}}</td>
					<td  width="10%">{{users.firstName}}</td>
					<td  width="10%">{{users.lastName}}</td>
					<td  width="10%">{{users.role}}</td>
					<td  width="10%">
						<div class="input-field col s12">
							<select ng-model="users.role" ng-change="adminCtrl.changeUserRole(users)">
								<option value="User">User</option>
								<option value="Employer">Employer</option>
								<option value="Admin">Admin</option>
								<!-- <option  value="Super_Admin">Super_Admin</option> -->
							</select>
						</div>
					</td>
				</tr>
			</tbody>
			
		</table> 
	</div>
	
</div>