<div class="row">
<div style="width: 900px; margin-left: 50px;">
			<form>
				<div class="input-field item-search">
					<input id="search" type="search" required style="display: inline;" placeholder="Search for Blogs, Forums, Events and Jobs" ng-model="containSearch">
					<label class="label-icon" for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
</div>

<div class="col s12" style="margin-top: 10px;">
				
					<div class="row" ng-repeat="blogs in userCtrl.contain.top5Blogs | filter : containSearch">
						<div class="col s12 m7">
							<div class="card hoverable" style="width: 800px;">
							
								<span class="card-title" style="margin-left: 10px;"><a href="#!/blog/{{blogs.id}}" style=" color: rgba{0,0,0,0.87};">{{blogs.name}}</a></span>
								<div class="card-content">
									<p class="truncate">{{blogs.description}}</p>
								</div>
								<div class="card-action">
									<a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="views">Views {{blogs.noOfViews}}</a> &nbsp; &nbsp;
									<a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="likes">Likes {{blogs.noOfLikes}}</a> &nbsp; &nbsp;
									<a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="comments">Comments {{blogs.noOfComments}}</a>
								</div>
								
							</div>
						</div>
					</div>
					Link to view all Blogs
					<a href="#!/blogs/all" class="center-align">View All</a>
				</div>


</div>