<div class="row" ng-init="userCtrl.fetchUser()">

	<!-- For Quick preview of user on the left side -->
	
	<div class="col m3" style="margin-left: 25px; margin-bottom: 100px;">
		
		<!-- User Profile Picture -->
		
		<div class="display-photo" style="margin-top: 25px;">
			<img alt="" src="assets/images/{{userCtrl.user.user.profile}}" class="circle" width="200px;" height="200px;" ng-if="userCtrl.user.user.id != user.id">
			<img alt="" src="assets/images/{{user.profile}}" class="circle" width="200px;" height="200px;" ng-if="userCtrl.user.user.id == user.id">
			<button  ng-if="userCtrl.user.user.id == user.id" data-target="change-photo" class="change-photo" style="opacity: .5; width: 200px;">Change Photo</button>
			
			<!-- Modal to change Profile Picture Come Here -->
			<div id="change-photo" class="modal" style="width: 500px;">
			
				<div class="modal-content">
					<h4 style="margin-left: 90px;">Change Picture</h4>
					
					<div style="margin-top: 10px;">
						<img alt="" src="assets/images/{{userCtrl.user.user.profile}}" class="circle" width="200px;" height="200px;" style="margin-left: 100px;">
						<div class="file-field input-field">
							<div class="btn">
								<span>File</span>
								<input type="file" file-model="userCtrl.picture">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>
						<div class="row">
							<button ng-click="userCtrl.uploadFile()" type="submit" class="waves-effect waves-light btn-large" style="margin-top: 10px; left: 10px; margin-left: 135px;">Change Picture</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		<!-- User Basic Information -->
		
		<h4>{{userCtrl.user.user.firstname}} {{userCtrl.user.user.lastname}}</h4>
		<h6>Username: {{userCtrl.user.user.username}}</h6>
		<p>Email Id: {{userCtrl.user.user.emailId}}</p>
		<p>Contact No: {{userCtrl.user.user.phone}}</p>
		<p>Date of Birth: {{userCtrl.user.user.birthDate | date : 'MMMM d,y'}}</p>
		<p ng-if="userCtrl.user.user.gender == 'M'">Gender: Male</p>
		<p ng-if="userCtrl.user.user.gender == 'F'">Gender: Female</p>
		<p ng-if="userCtrl.user.user.role != 'User' && userCtrl.user.user.role != 'Super_Admin'">Role: {{userCtrl.user.user.role}}</p>
		<p ng-if="userCtrl.user.user.role == 'Super_Admin'">Role: Super Admin</p>
		
		<!-- For sending friend request and message -->
		
		<div class="row" ng-if="userCtrl.user.user.id != user.id">
			<div class="col m6">
				<a class="waves-effect waves-light btn">BEFRIEND</a>			
			</div>
			<div class="col m6">
				<a class="waves-effect waves-light btn">Message</a>			
			</div>
		</div>
		
		<!-- User's Friend List Shown here -->
		
		<div style="margin-top: 20px;" ng-init="userCtrl.fetchMyFriends()">
			<div class="row">
				<div class="col m8">
					<span class="card-title right-align">Friends (Total {{userCtrl.friendsCount}})<a></a></span>
				</div>
				<div class="col m4">
					<a href="#">View All</a>
				</div>
			</div>
			<ul class="collection">
				<li class="collection-item avatar" ng-repeat="friend in userCtrl.myFriends">
					<img alt="" src="assets/images/{{friend.profile}}" class="circle">
					<span><a href="#!/user/profile/{{friend.id}}" style="color: black;">{{friend.username}}</a></span>
					<a href="#!/chat/{{friend.id}}/{{friend.username}}" class="secondary-content tooltipped" data-position="bottom" data-delay="50" data-tooltip="message"><i class="material-icons">message</i></a>
				</li>
			</ul>
		</div>
		
		
	</div>
	
	
	
	<!-- Detail information of user, blogs,forum topics,event,job created by him are shown on the right side of the page -->
	
	<div class="col m9" style="width: 900px; margin-top: 25px;">
	
		<div class="card hoverable">
			<div class="row">
			
				<div class="col s12">
					<ul class="tabs">
						<li class="tab col s3"><a class="active" href="#test1">PROFILE</a></li>
						<li class="tab col s3"><a href="#test2">BLOGS</a></li>
						<li class="tab col s3"><a href="#test3">EVENTS JOINED</a></li>
						<li class="tab col s3"><a href="#test4">JOB APPLIED</a></li>
					</ul>
				</div>
				
				<!--User Profile, Jobs and Events created will be come here  -->
				
				<div id="test1" class="col s12">
					<div style="margin-top: 25px;">
						<h5><i class="material-icons">person</i> Basic Info : &nbsp; <small><a href="#" ng-if="userCtrl.user.user.id == user.id">Click here to Edit</a></small></h5>
						<hr>
						<div class="row">
							<div class="col m6">
								<div style="margin-left: 20px; margin-top: 20px;">
									<h6>Name: {{userCtrl.user.user.firstName}} {{userCtrl.user.user.lastName}}</h6>
									<h6>Username: {{userCtrl.user.user.username}}</h6>
									<h6>Birthdate: {{userCtrl.user.user.birthDate | date: 'MMMM d,y'}}</h6>
									<h6 ng-if="userCtrl.user.user.gender == 'M'">Gender: Male</h6>
									<h6 ng-if="userCtrl.user.user.gender == 'F'">Gender: Female</h6>
									<h6>Email Id: {{userCtrl.user.user.emailId}}</h6>
									<h6>Contact No: {{userCtrl.user.user.phone}}</h6>
								</div>
							</div>
							<div class="col m6">
								<h6>About Me:</h6>
								<h6></h6>
							</div>
						</div>
						<h5><i class="material-icons">business_center</i>Professional Info: &nbsp; <small><a href="#" ng-if="userCtrl.user.user.id == user.id">Click here to Edit</a></small></h5>
						<hr>
						<div class="row">
							<div class="col m6">
								<div style="margin-left: 20px; margin-top: 20px;">
									<h6>School Name: </h6>
									<h6>University/College: </h6>
									<h6>Field of Study: </h6>
									<h6>Work: </h6>
									<h6>Skills: </h6>
								</div>
							</div>
							<div class="col m6">
								
							</div>
						</div>
						<hr ng-if="userCtrl.user.user.role != 'User'">
						<div ng-if="userCtrl.user.user.role == 'User'" style="margin-bottom: 50px;"></div>
						
						<!--Events Jobs Created by user will come here -->
						
						<div ng-if="userCtrl.user.user.role != 'User'">
							<!--Events Created by user will come here -->
							<h5><i class="material-icons">today</i>Events Created: &nbsp; <small><a href="#">View all</a></small></h5>
							<hr>
							<div class="card hoverable" style="width: inherit;" ng-repeat="event in userCtrl.user.events">
								<div class="card-content">
									<span class="card-title activator"><b>{{event.name}}</b></span>
									<p style="font-size: 13px;">Organised By {{event.userName}} | {{event.postDate | date : 'MMMM d,y'}}</p><br>
									<p>{{event.description}}</p>
									<a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="JOIN EVENT"><i class="material-icons">add</i></a>
									<br>
									<div class="row">
										<div class="col m6">
											<p><b>Venue:</b></p>
											<p>{{event.venue}}</p>
										</div>
										<div class="col m6">
											<p><b>Start Date:</b>{{event.startDate | date : 'MMMM d, y'}}</p>
											<p><b>End Date:</b>{{event.endDate | date : 'MMMM d, y'}}</p>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Job Created by user will come here -->
							<h5><i class="material-icons">work</i> Jobs Created: &nbsp; <small><a href="#">View All</a></small></h5>
							<hr>
							<div class="card hoverable" style="width: inherit;" ng-repeat="job in userCtrl.user.job">
								<div class="card-content">
									<h5><b>{{job.companyName}}</b></h5>
									<h6>{{job.subTitle}}</h6>
									<b>About The Company:</b>
									<p>{{job.about}}</p>
									<a class="btn-floating halfway-fab waves-effect waves-light red tooltipped"  data-position="bottom" data-delay="50" data-tooltip="APPLY"><i class="material-icons">add</i></a>
								</div>
								<hr>
								<div class="row">
									
									<div class="col m4">
										<b>JOB PROFILE</b>
										<p>{{job.jobProfile}}</p>
									</div>
									
									<div class="col m4">
										<b>QUALIFICATION</b>
										<p>{{job.qualification}}</p>
									</div>
									
									<div class="col m4">
										<b>CONTACT INFO</b>
										<p>{{job.contactInfo}}</p>
									</div>
									
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
				
				<!-- Blogs Created by user will come here -->
				
				<div id="test2" class="col s12">
				
					<div ng-if="userCtrl.myBlogCount == 0" class="card hoverable" style="width: inherit; height: 500px;">
						<div class="card-content" style="margin-left: 180px;">
							<h5 ng-if="userCtrl.user.user.id != user.id" style="margin-top: 150px;">{{userCtrl.user.user.username}} has created any blogs yet!</h5>
							<h5 ng-if="userCtrl.user.user.id == user.id" style="margin-top: 150px;">You have not created any blogs yet!</h5>
							<a ng-if="userCtrl.user.user.id == user.id" href="#!/blog/new{{blog.id}}" type="submit" style="margin-left: 120px;" class="waves-effect waves-light btn-large center-align">CREATE NEW BLOG</a>
						</div>
					</div>
					
					<div ng-if="userCtrl.myBlogCount != 0" class="row">
						<div class="col s12 m7">
							<div class="card hoverable" style="width: 800px;" ng-repeat="blogs in userCtrl.user.blog |orderBy : 'id'">
								<span class="card-title" style="margin-left: 10px;"><a href="#!/blog/{{blogs.id}}" style="color: rgba(0,0,0,0.87);">{{blogs.name}}</a></span>
								<div class="card-content">
									<p class="trunctae">{{blogs.description}}</p>
								</div>
								<div class="card-action">
									<a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="views">Views {{blogs.noOfViews}}</a> &nbsp; &nbsp;
									<a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="likes">Likes {{blogs.noOfLikes}}</a> &nbsp; &nbsp;
									<a href="javascript:void(0)" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="comments">Comments {{blogs.noOfComments}}</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
				<!--All Events joined by user will come here-->
				
				<div id="test3" class="col s12">
				
					<div ng-if="userCtrl.joinedEventCount == 0" class="card hoverable" style="width: inherit; height: 500px;">
						<div class="card-content" style="margin-left: 180px;">
							<h5 ng-if="userCtrl.user.user.id != user.id" style="margin-top: 150px;">{{userCtrl.user.user.username}} has not joined any events yet!</h5>
							<h5 ng-if="userCtrl.user.user.id == user.id" style="margin-top: 150px;">you have  not joined any events yet!</h5>
							<a ng-if="userCtrl.user.user.id == user.id" href="#!/events/list" type="submit" style="margin-left: 120px;" class="waves-effect waves-light btn-large center-align">SEARCH FOR EVENTS</a>
						</div>
					</div>
					
					<div ng-f="userCtrl.joinedEventCount != 0" class="card hoverable" style="width: inherit;" ng-repeat="event in userCtrl.user.joinedEvents">
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">{{event.name}}</span>
							<p style="font-size: 13px;">Organised By {{event.userName}} | {{event.postDate | date : 'MMMM d,y'}}</p><br>
							<p>{{event.description}}</p>
							<br>
							<div class="row">
								<div class="col m6">
									<p><b>Venue:</b></p>
									<p>{{event.venue}}</p>
								</div>
								<div class="col m6">
									<p><b>Start Date:</b> {{event.startDate | date : 'MMMM d,y'}}</p>
									<p><b>End Date:</b> {{event.endDate | date : 'MMMM d,y'}}</p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- All jobs applied by user will come here -->
				
				<div id="test4" class="col s12">
					<div ng-if="userCtrl.appliedJobCount == 0" class="card hoverable" style="width: inherit; height: 500px;">
						<div class="card-content" style="margin-left: 180px;">
							<h5 style="margin-top: 150px;" ng-if="userCtrl.user.user.id != user.id">{{userCtrl.user.user.username}} has not applied for any jobs yet!</h5>
							<h5 style="margin-top: 150px;" ng-if="userCtrl.user.user.id == user.id">You have not applied for any jobs yet!</h5>
							<a ng-if="userCtrl.user.user.id == user.id" href="#!/jobs/list" type="submit" style="margin-left: 150px;" class="waves-effect waves-light btn-large center-align">SEARCH FOR JOBS</a>
						</div>
					</div>
					<div ng-if="userCtrl.appliedJobCount != 0" class="card hoverable" style="width: inherit" ng-repeat="job in userCtrl.user.appliedJobList">
						<div class="card-content">
							<h5><b>{{job.companyName}}</b></h5>
							<h6>{{job.subTitle}}</h6>
							<b>About The Company</b>
							<p>{{job.about}}</p>
						</div>
						<hr>
						<div class="row">
						
							<div class="col m4">
								<b>JOB PROFILE</b>
								<p>{{job.jobProfile}}</p>
							</div>
							
							<div class="col m4">
								<b>QUALIFICATION</b>
								<p>{{job.qualification}}</p>
							</div>
							
							<div class="col m4">
								<b>CONTACT INFO</b>
								<p>{{job.contactInfo}}</p>
							</div>
							
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
		
	</div>
	
</div>
