<div class="row" ng-init="requestCtrl.pendingUserList()">

	<div style="margin-top: 25px; margin-left: 25px;">
		<h4 align="center">New User Requests</h4>
	</div>
	<br/><hr/>
	<div style="margin-left: 25px; margin-bottom: 250px;">
		<table class="highlight centered responsive-table">
		
			<thead>
				<tr>
					<th data-field="username">Username</th>
					<th data-field="firstname">First Name</th>
					<th data-field="lastname">Last Name</th>
					<th data-field="email">Email Id</th>
					<th data-field="phone">Contact No</th>
					<th data-field="dob">Date of Birth</th>
					<th data-field="gender">Gender</th>
					<th data-field="status">Status</th>
				</tr>
			</thead>
			
			<tbody>
				<tr ng-repeat="user in requestCtrl.pendingUsers | orderBy : 'user.id'">
					<td>{{user.username}}</td>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>{{user.emailId}}</td>
					<td>{{user.phone}}</td>
					<td>{{user.birthDate | date : short}}</td>
					<td>{{user.gender}}</td>
					<td>
						<div class="switch">
							<label>
								Disable
								<input type="checkbox" ng-model="user.status" ng-change="requestCtrl.changeStatus(user.id)">
								<span class="lever"></span>
								Active
							</label>
						</div>
					</td>
				</tr>
			</tbody>
			
		</table>
	</div>
	

</div>