<div class="row" ng-init="requestCtrl.pendingBlogList()">
    
        <div style="margin-top: 25px; margin-left: 25px;">
            <h4 align="center">New Blog Requests</h4>
        </div>
        <br /> <hr />

        <div style="margin-left: 25px; margin-bottom: 250px;">
            <table class="highlight centered responsive-table">
                <thead>
                <tr>
                    <th data-field="id">Blog Id</th>
                    <th data-field="name">Blog Name</th>
                    <th data-field="authorname">Author Name</th>
                    <th data-field="date">Published On</th>
                    <th data-field="status">Status</th>
                </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="blogs in requestCtrl.pendingBlogs | orderBy : 'id'">
                        <td>{{blogs.id}}</td>
                        <td><a href="#!/blog/{{blogs.id}} " target="_blank">{{blogs.name}}</a></td>
                        <td>{{blogs.username}}</td>
                        <td>{{blogs.createDate | date : 'MMMM d, y'}}</td>
                        <td> 
                            <div class="switch">
                            <label>
                            Disable
                            <input type="checkbox" ng-model="blogs.status" ng-change="requestCtrl.changeBlogStatus(blogs.id)">
                            <span class="lever"></span>
                            Active
                            </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>

   
</div>