<div class="row" ng-init="adminCtrl.approvedBlogList()">
  
        <div style="margin-top: 25px; margin-left: 25px;">
            <h4 align="center">Manage your blogs here</h4>
        </div>
        <br /> <hr />

        <div style="margin-left: 25px; margin-bottom: 250px;">
            <table class="highlight centered striped bordered responsive-table">
                <thead>
                <tr>
                    <th data-field="id">Blog Id</th>
                    <th data-field="name">Blog Name</th>
                    <th data-field="authorname">Author Name</th>
                    <th data-field="date">Published On</th>
                    <th data-field="status">Options</th>
                </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="blog in adminCtrl.approvedBlogList">
                        <td>{{blog.id}}</td>
                        <td><a href="#!/blog/{{blog.id}}" target="_blank">{{blog.name}}</a></td>
                        <td>{{blog.username}}</td>
                        <td>{{blog.createDate | date: 'MMMM d, y'}}</td>
                       <td> 
                            <a class="waves-effect waves-light btn tooltipped green" data-position="bottom" data-delay="50" data-tooltip="Edit"><i class="material-icons">mode_edit</i></a>
                            <a ng-click="blogCtrl.deleteBlog(blog.id)" class="waves-effect waves-light btn tooltipped red" data-position="bottom" data-delay="50" data-tooltip="Delete"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>

    
</div>