<div style="margin-top: 50px; padding-left: 50px; margin-bottom: 50px;">

<div class="row">

	<div class="col s8 offset-s2">
		<div class="card hoverable" >
			<h3 style="padding-left: 20px; padding-top: 20px;">Create Event</h3>
			
			<div class="row">
				<form id="newEvent" name="newEvent" ng-submit="eventCtrl.addEvent()" class="col s12" style="padding-bottom: 40px;">
				<hr>
					<input type="hidden" ng-model="eventCtrl.event.id"/>
					<div class="row">
						<div class="input-field col s12">
							<input id="name" type="text" class="validate" data-length="50" ng-model="eventCtrl.event.name">
							<label for="name">Event Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="venue" type="text" class="validate" data-length="100" ng-model="eventCtrl.event.venue">
							<label for="venue">Venue</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea id="description" type="text" class="materialize-textarea" ng-model="eventCtrl.event.description"></textarea>
							<label for="description">Event Description</label>
						</div>
					</div>
					<div class="row">
						<div class="col s6">	
							<div class="input-field">
								<input id="startDate" type="text" class="datepicker" name="startDate" ng-required="true" ng-model="eventCtrl.event.startDate">
								<label for="startDate">Start Date</label>
							</div>
						</div>
						<div class="col s6">	
							<div class="input-field">
								<input id="endDate" type="text" class="datepicker" name="endDate" ng-required="true" ng-model="eventCtrl.event.endDate">
								<label for="endDate">End Date</label>
							</div>
						</div>
					</div>
					<div class="row">
						<button type="submit" class="waves-effect waves-light btn-large" style="margin-top: 10px; left: 10px;">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</div>

</div>