<div style="margin-left: 25px;" ng-init="friendCtrl.fetchRequest()">
	<h5 ng-if="(friendCtrl.friendRequestsCount != 0)">You have  {{friendCtrl.friendRequestsCount}} New Friend Requests</h5>
</div>

<hr style="width: 1300px;">

<div>

<div class="row">
	<div class="col s3" ng-repeat="friend in friendCtrl.friendRequests">
		<div class="card">
			<div class="row">
			
				<div class="col s3" style="margin-top: 10px;">
					<img alt="" src="assets/images/{{friend.profile}}" class="square" width="120px;" height="120px;">
				</div>
				<div class="col s7 offset-s2" style="margin-top: 10px; margin-bottom: 10px;">
					<b><a href="#!/user/profile/{{friend.id}}" style="color: #000;">{{friend.firstName}} {{friend.lastName}}</a></b>
					<p style="margin-top: 0px; margin-bottom: 0px;">{{friend.username}}</p>
					<p style="margin-top: 0px; margin-bottom: 0px;">{{friend.birthDate}}</p>
					<p ng-if="friend.gender == 'M'" style="margin-top: 0px; margin-bottom: 0px;">Male</p>
					<p ng-if="friend.gender == 'F'" style="margin-top: 0px; margin-bottom: 0px;">Female</p>
				</div>
			</div>	
			<div style="margin-top: 10px; margin-left: 10px; padding-bottom: 10px;">
				<button class="green btn" ng-click="friendCtrl.approveRequest(friend.id)">APPROVE</button>
				<button class="red btn" ng-click="friendCtrl.sendRequest(user.id)" style="margin-top: 5px;">REJECT</button>
			</div>
				
			
		</div>
	</div>
</div>

		<!-- If no Friends Request Are Available -->
		
		<div ng-if="(friendCtrl.friendRequestsCount == 0)">
			<div class="card hoverable" style="height: 200px;">
				<h3 style="padding-top: 75px; padding-left: 250px;">No New Friends Request Yet now!</h3>
			</div>
		</div>

</div>